* {
  margin         : 0;
  padding        : 0;
  box-sizing     : border-box;
  text-decoration: none;
}

.about .about-content {
  display        : flex;
  flex-wrap      : wrap;
  align-items    : center;
  justify-content: space-between;
}

.about {
  font-family: 'Poppins', sans-serif;

}

.max-width {
  max-width: 1300px;
  padding  : 0 80px;
  margin   : auto;
}
// Specific CSS for your home-page
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right {
  width: 55%;
} 
.about .about-content .left .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .left p {
  text-align: justify;
}

.column-left {
  padding-left: -15px !important;
}
.container {
  justify-content: center;
  align-content: center;
}

.img-project {
  height: 400px;
  width: 600px;
}

.table .table-striped {
  padding-left:0 ;
}