* {
  margin         : 0;
  padding        : 0;
  box-sizing     : border-box;
  text-decoration: none;
}

.about .about-content {
  display        : flex;
  flex-wrap      : wrap;
  align-items    : center;
  justify-content: space-between;
}

.about {
  font-family: 'Poppins', sans-serif;

}

.max-width {
  max-width: 1300px;
  padding  : 0 80px;
  margin   : auto;
}
// Specific CSS for your home-page
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right {
  width: 55%;
} 
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color:#31708f ;
}
.about .about-content .left p {
  text-align: justify;
}
.about .about-content .right a {
  // display: inline-block;
  background: #31708f ;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #31708f ;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: #31708f ;
  background: none;
}
.column-left {
  padding-left: -15px !important;
}
.container {
  justify-content: center;
  align-content: center;
}

.img-project {
  height: 400px;
  width: 600px;
}

.table .table-striped {
  padding-left:0 ;
}