@media (max-width: 1200px) {
  /* For a screen < 1200px, this CSS will be read */
  .container {
    width: auto;
    margin-left: 30px !important;  
  }  
  .banner {
    width: 1200px;
    height:250vh !important;
  } 
  .img-project {
    height: 400px;
    width: 600px;
  }
  .iframe {
    height: 300px !important;
    width: 400px !important;
  }
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: auto;
    margin-left: 30px !important;  
  }  
  .banner {
    width: 960px;
    height: 400vh !important;
  } 
  .img-project {
    height: 300px;
    width: 400px;
  }
  .iframe {
    height: 300px !important;
    width: 400px !important;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 100%;
    margin-left:15px !important;
  }  
  .banner {
    width: 700px;
    height:240vh !important;
  } 
  .img-project {
    height: 300px;
    width: 500px;
  }
  .iframe {
    height: 300px !important;
    width: 300px !important;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }  
  .banner {
    width: 525px;
    height:240vh !important;
  } 
  .img-project {
    height: 300px;
    width: auto;
  }
  .iframe {
    height: 300px !important;
    width: 300px !important;
  }
}
@media (max-width: 480px) {
  /* For a screen < 480px, this CSS will be read */
  .container {
    width: 100%;
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  .banner {
    width: 500px;
    height:240vh !important;
  }  
  .img-project {
    height: 250px;
    width: auto;
  }
  .iframe {
    height: 300px !important;
    width: auto !important;
  }
}

@media (max-width: 360px) {
  /* For a screen < 360px, this CSS will be read */
  .container {
    width: 100%;
  }
  .banner {
    width: 400px;
    height:150vh !important;
  }  
  .img-project {
    height: 200px;
    width: 300px;
  }
  .iframe {
    height: 200px !important;
    width: 200px !important;
  }
}

