<div class="header-footer">
  <div class="header-footer-infos">
    <div class="row">
      <div class="col-md-8 w-100">
        <h2>Cette application est gratuit, indépendant.</h2>
      </div>
      <div class="col-md-4 w-100 ">
        <h2>Dr L. Ramaroson, Généraliste</h2>
      </div>
    </div>
  </div> 
</div>