<div class="header-navbar">
  <div class="header-navbar-infos">
    <div class="row">
      <div class="col-12">
        <h2>Vous pouvez me joindre au 06.84.05.43.11. En cas urgence, veuiller contacter le 15 </h2>
      </div>   
    </div>
  </div> 
</div>
