<section>
  <div class="banner" style="background-image: url(<%= image_path 'banner.jpg'%>);">
    <div class="container">
      <div class="about">
        <div class="about-content">
          <div class="col md-6">       
          <h1 class="h2 mt-4 ">Cabinet Medical</h1>
            <div class="column-left">
              <p>Le Dr Lucienne Ramaroson Vous recoit dans  son cabinet pour des  consultations de medecine general et pediatrique.</p>
              <a class="btn btn-ghost" href="#">Prendre un RDV ?</a>
              <h2 class="h2 mt-4">Horaire d'ouverture</h2>
              <table class="table table-striped pl-4">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Mardi</th> 
                    <th scope="col">Mercredi</th>
                    <th scope="col">Vendredi</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="col">Ouvert</th>
                    <th scope="col">17h</th>
                    <th scope="col">16h</th>
                    <th scope="col">16h</th>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                    <th scope="col">Fermer</th>
                    <th scope="col">20h</th>
                    <th scope="col">20h</th>
                    <th scope="col">20h</th>
                  </tr>
                </tbody>
              </table>
            </div>  
          </div>
          <div class="col md-6">
            <div class="column-right mt-3">
              <%= image_tag 'Cabinet.png',class:'img-project' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
      <h2 class="h2 mt-5">Activité</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis autem voluptatibus dicta similique tempore dolore tenetur dolorem, saepe quibusdam voluptas qui hic excepturi impedit laboriosam. Ducimus maxime porro architecto laudantium?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit odit laboriosam qui hic illum perspiciatis quibusdam error iure exercitationem cupiditate ex nostrum, velit enim. Natus, enim qui. Doloremque, est voluptates.</p>
      <h2 class="h2 mt-4" id="tarif">Tarification</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Mardi</th> 
              <th scope="col">Mercredi</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col">Enfant *</th>
              <th scope="col">20€</th>
              <th scope="col">16h</th>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="col">Adulte *</th>
              <th scope="col">25€</th>
              <th scope="col">25€</th>
            </tr>
          </tbody>
        </table>
        <p>* Mode paiement accepter: Espèce ou chéque.</p>
      </div>
      <main role="main" class="main-banner" id="blog-banner">
        <div class="container mt-5 mb-4">
          <h2 class="h2" id="contact">Contact</h2>
        </div>
      </main>
      <div class="container mb-5">
        <div class="row">
          <div class="col-md-8">
            <p>Vous pouvez prendre rendez-vous par téléphone ou booker rendez-vous.</p>
            <div class="row mt-5">
              <div class="col-md-6 col-xl-5">
                <p class="h4"><i class="fab fa-twitter text-info mr-2"></i> Telephone</p>
                <p><span>06 84 05 43 11</span></p>
                <p class="h4 mt-5"><i class="fas fa-envelope text-alert mr-2"></i> En voiture</p>
                <p>parking 3 places <span>(voir acces)</span> </p>
              </div>
              <div class="col-md-6 col-xl-5">
                <p class="h4"><i class="fab fa-facebook text-primary mr-2"></i> Localisation</p>
                <p>188 avenue de l'argonne Beutre 33700 Mérignac</p>
                <p class="h4 mt-5"><i class="fab fa-instagram text-warning mr-2"></i> En bus</p>
                <p>N°30-Arret :"Oscar Oriac" </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <iframe class="sm-lg-3 mt-3" width="400" height="300" id= "map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBwOWZ_C1sw6lYJhxYk_LJJCI2uM9GW8IA&q=220 avenue de l'argonne,merignac,bordeaux,france " allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <%= render 'shared/header-footer' %>
    </div>
  </div>
</div>
</section>

