.btn-ghost {
  border: 1px solid #31708f;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: bold;
  // opacity: 0.5;
  transition: opacity 0.3s ease;
  margin-right:5px;
  color: #31708f !important;
}

.btn-ghost:hover {
  background-color:#31708f;
  color: white !important;
}

