.header-footer h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.header-footer p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.header-footer .header-footer-infos {
    width: 100%;
    color: #31708f;
    border-color: #bce8f1;

}