.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(rgb(218, 241, 236),rgb(177, 231, 224));
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.a .nav-link .btn {
  color: #31708f !important;
}